/* ------------ Google-fonts ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: "Roboto", sans-serif;
}
.container{
  max-width: 1140px;
  padding-inline: 10px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Poppins", sans-serif;
}
button{
  font-family: "Roboto", sans-serif;
  border: none;
}
button > a{
  padding: 14px 24px;
  background: #fff;
  border: 2px solid rgb(24, 24, 24);
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  transition: all .3s;
}
button > a:hover{
  background: rgb(24, 24, 24);
  color: #fff;
}
a{
  text-decoration: none;
  display: block;
  color: rgb(24, 24, 24);
}


nav{
  max-width: 1148px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > h2 {
  font-size: 30px;
  font-weight: bold;
}
.mark{
  color: #a0a0f4;
}

/* --------------
  Hero_section
  --------------*/
  #hero-area{
    background: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 40px
  }
  .hero-content{
    width: 990px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
  }
  .hero-image{
    margin-bottom: 30px;
  }
  .hero-title{
    font-size: 46px;
    margin-bottom: 25px;
  }
  .hero-subtitle {
    font-size: 18px;
    line-height: 28px;
    color: rgb(18, 18, 18);
    margin-bottom: 28px;
  }
 
  .contact-btn button > a{
    background: rgb(24, 24, 24);
    color: #fff;
  }
  .contact-btn button > a:hover{
    background: #fff;
    color: rgb(24, 24, 24);
  }

  /* -----------------
    Why_web_development
    ----------------- */
    #web-dev{
      padding-block: 90px;
    }

    .web-dev-container{
      background: rgba(13, 19, 33, 0.02);
      border-radius: 14px;
      padding: 70px;
    }
    .same-heading {
      text-align: center;
      width: 860px;
      margin: auto;
  }
  
  .same-heading h2 {
      font-size: 35px;
      margin-bottom: 23px;
  }
  
  .same-heading p {
      font-size: 17px;
      line-height: 28px;
      margin-bottom: 25px;
  }
  .reverse-group{
    flex-direction: row-reverse;
  }
  
  .group-box {
      background: #fff;
      border-radius: 14px;
      margin-bottom: 18px;
      display: flex;
      justify-content: space-between;
      padding: 30px;
  }
  
  .group-box-content h3 {
      font-size: 25px;
      margin-bottom: 12px;
  }
  
  .group-box-content {
      width: 50%;
  }
  
  .group-box-content p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px;
  }
  .learn-btn{
     border-radius: 4px;
     padding: 12px 20px;
  }

  /* --------------
    My_Inspiration
    --------------- */
#inspiration{
  padding-block: 30px;
}
.inspiration-video{
  padding-block: 30px;
  margin-top: 20px;

}
.inspiration-video iframe{
  width: 100%;
  height: 500px;
}

/* ---------------
  Current_Target
  ----------------*/
  #target{
    padding-block: 80px;
  }

  .technologies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.technology {
    width: 32%;
    padding: 25px;
    border-radius: 14px;
}

.technology h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 12px;
}

.technology p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.technology a {
border-bottom: 1px solid;
display: inline-block;
font-weight: 600;
}
.html{
  background: rgba(255, 76, 30, 0.05);
}
.css{
  background: rgba(0, 76, 232, 0.05);
}
.js{
  background: rgba(255, 223, 0, 0.05);
}

/* ---------------
  Next_Target
  ----------------*/

  #next-target{
    padding-block: 70px;
  }
  .tech-box {
      display: flex;
      margin-bottom: 20px;
      padding: 30px;
      border-radius: 14px;
      border: 1px solid #b8b0b0;
  }
  
  .tech-desc {
      margin-left: 50px;
  }
  
  .tech-desc h3 {
      font-size: 22px;
      margin-bottom: 8px;
  }
  
  .tech-desc a {
      margin-top: 10px;
      font-weight: 600;
      border-bottom: 1px solid;
      display: inline-block;
  }
  
  .tech-desc p {
      line-height: 26px;
  }

  /* ---------------
    Support_section
  ----------------*/
  #support{
    padding-block: 60px;
  }
  .support-container {
    background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, 0.6)), url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-radius: 14px;
    color: #fff;
}
.contact-here {
  width: 70%;
  margin: auto;
}
input, input::placeholder{
  font-family: "Roboto", "sans-sarif";
  font-size: 16px;
}
input[type="text"]:focus{
  outline: none;
}
input[type="text"]{
  width: 80%;
  padding: 12px;
  border-radius: 12px;
}
input[type="button"]{
  width: 16%;
  padding: 12px 18px;
  background: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  transition: all .3s;
}
input[type="button"]:hover{
  background: rgba(255, 255, 255, 0.932);
}

/* -------------
    Footer_area
  -------------*/
  #footer{
    padding-block: 30px;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    display: flex;
}

.footer-container p {
    font-weight: 500;
    font-size: 20px;
}

.social-icon a {
    margin-left: 12px;
}